@model IEnumerable<BusinessObject.Data.Course>

@{
    ViewData["Title"] = "CourseIndex";
}
@{
    Layout = "_LayoutStaff";
}

<h1>CourseIndex</h1>

<p>
    <a asp-action="AddCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Coures_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coures_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Course.Category_name)
            </td>
            <td>
                    <a asp-action="EditCourse" asp-route-id="@item.Coures_id">Edit</a> |
                    <a href="#" data-id="@item.Coures_id" class="btn btn-sm btn-danger btnDelete"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script>


        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('You Delete Course ?');

                if (conf === true) {

                    $.ajax({
                        url: '/admin/DeleteCourse',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                                location.reload();
                            }
                        }
                    });
                }
            });
        });

    </script>
}