@model IEnumerable<BusinessObject.Data.User>

@{
    ViewData["Title"] = "StudentIndex";
}
@{
    Layout = "_LayoutStaff";
}

<h1>StudentIndex</h1>

<p>
    <a asp-action="AddStudent">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCCD)
            </th>
         
         
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
           
           
            <td>
                @Html.DisplayFor(modelItem => item.Role.Role_name)
            </td>
            <td>
                    <a asp-action="EditStudent" asp-route-id="@item.User_id">Edit</a> |
                    
                    <a href="#" data-id="@item.User_id" class="btn btn-sm btn-danger btnDelete"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script>


        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('You Delete Account ?');

                if (conf === true) {

                    $.ajax({
                        url: '/StaffTrain/DeleteStudent',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                                location.reload();
                            }
                        }
                    });
                }
            });
        });

    </script>
}