@model IEnumerable<BusinessObject.Data.Category_Course>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Category_coures_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Category_coures_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Category_coures_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
