@model IEnumerable<BusinessObject.Data.Exercise>

@{
    ViewData["Title"] = "Exercise";
}

<h1>Exercise</h1>

<p>
    <a asp-action="ExerciseAdd">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercise_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creat_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link_submit_assignments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creat_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link_submit_assignments)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Coures_name)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Exercise_id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Exercise_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
